name: Django CI

on:
  push:
    branches: [ "main", "PoetryBranch" ]
  pull_request:
    branches: [ "main", "PoetryBranch"]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Poetry
      run: pip install poetry
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        poetry install --no-root
    - name: Coverage report
      run: |
        pip install coverage
        coverage run manage.py test
        coverage report
    - name: Run Tests
      run: |
        python manage.py test
